/**
 * WORDPRESS CONTENT STYLING
 * WordPress doesn't add tailwind classes to it's markup so we'll style everything here 
 */

#prestyled > * {
  @apply mb-4;
}

@screen md {
  #prestyled > * {
    @apply mb-vw-1;
  }
}

#prestyled ol {
  @apply list-inside list-decimal;
}

#prestyled ul {
  @apply list-inside list-disc;
}

#prestyled li > * {
  @apply inline;
}

#prestyled blockquote {
  @apply relative block bg-grey-100 px-8 py-8 my-10;
}

#prestyled blockquote > * {
  @apply mt-0 !important;
}

@screen md {
  #prestyled blockquote {
    @apply px-vw-5 py-vw-3 my-vw-4;
  }
}

#prestyled img {
  @apply px-4 w-full;
}

@screen md {
  #prestyled img {
    @apply px-vw-2;
  }
}

#prestyled blockquote:before {
  /* TODO: replace this with SVG icon when provided */
  content: "\0201C";
  @apply text-9xl text-primary absolute -top-8 left-2;
}

@screen md {
  #prestyled blockquote:before {
    @apply text-vw-13xl -top-vw-4 left-vw-1;
  }
}

#prestyled h1,
#prestyled h2,
#prestyled h3,
#prestyled h4,
#prestyled h5,
#prestyled h6 {
  @apply font-bold tracking-tight mt-12;
}

#prestyled h1 {
  @apply text-4xl;
}

#prestyled h2 {
  @apply text-3xl;
}

#prestyled h3 {
  @apply text-2xl;
}

#prestyled h4 {
  @apply text-3xl;
}

#prestyled h5 {
  @apply text-lg;
}

#prestyled h6 {
  @apply text-base;
}

@screen md {
  #prestyled h1,
  #prestyled h2,
  #prestyled h3,
  #prestyled h4,
  #prestyled h5,
  #prestyled h6 {
    @apply mt-vw-4;
  }

  #prestyled h1 {
    @apply text-vw-4xl;
  }
  
  #prestyled h2 {
    @apply text-vw-3xl;
  }
  
  #prestyled h3 {
    @apply text-vw-2xl;
  }
  
  #prestyled h4 {
    @apply text-vw-xl;
  }
  
  #prestyled h5 {
    @apply text-vw-lg;
  }
  
  #prestyled h6 {
    @apply text-vw-base;
  }
}

#prestyled pre {
  @apply whitespace-pre-wrap;
}

#prestyled a {
  @apply underline text-info;
}

/* special content box styling for the about page */
#prestyled {
  @apply box-content;
}

#prestyled-about img {
  @apply block w-full max-w-none pt-10;
}

@screen md {
  #prestyled-about img {
    @apply pt-vw-2;
  }

  #prestyled-about p:not(:last-of-type) {
    @apply px-vw-15;
  }
}