/* TODO: host these fonts locally */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url("https://use.typekit.net/joc6ber.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities */

@layer utilities {
	@variants responsive {
		.wait-100 {
			animation-delay: 100ms;
		}

		.wait-200 {
			animation-delay: 200ms;
		}

		.wait-400 {
			animation-delay: 400ms;
		}

		.wait-800 {
			animation-delay: 800ms;
		}

		.rtl {
			direction: rtl;
		}

		/* Add separators to nextjs-breadcrumbs because it annoyingly doesn't give you the option */
		.add-separators li:not(:last-child):after {
			content: "/";
			@apply pl-3;
		}
		.add-separators-desktop li:not(:last-child):after {
			content: "/";
			@apply pl-vw-0.5;
		}
	}
}

/* Style externally provided markup eg. WordPress */
@import 'content.css';
@import 'prestyle-product.css';