/* prestyles for product descriptions */

/* images */
#prestyle-product img {
    @apply w-full;
}

@screen md {
    #prestyle-product img {
      @apply w-8/12;
    }
}

/* content */
#prestyle-product p {
    @apply w-full;
}

@screen md {
    #prestyle-product p {
      @apply w-6/12;
    }
}

/* other */

prestyle-product > * {
  @apply mb-4;
}

@screen md {
  #prestyle-product > * {
    @apply mb-vw-1;
  }
}

#prestyle-product ol {
  @apply list-inside list-decimal;
}

#prestyle-product ul {
  @apply list-inside list-disc;
}

#prestyle-product li > * {
  @apply inline;
}

#prestyle-product blockquote {
  @apply relative block bg-grey-100 px-8 py-8 my-10;
}

#prestyle-product blockquote > * {
  @apply mt-0 !important;
}

@screen md {
  #prestyle-product blockquote {
    @apply px-vw-5 py-vw-3 my-vw-4;
  }
}

#prestyle-product blockquote:before {
  /* TODO: replace this with SVG icon when provided */
  content: "\0201C";
  @apply text-9xl text-primary absolute -top-8 left-2;
}

@screen md {
  #prestyle-product blockquote:before {
    @apply text-vw-13xl -top-vw-4 left-vw-1;
  }
}

#prestyle-product h1,
#prestyle-product h2,
#prestyle-product h3,
#prestyle-product h4,
#prestyle-product h5,
#prestyle-product h6 {
  @apply font-bold tracking-tight mt-12 text-left;
  text-align: left !important;
}

#prestyle-product h1 {
  @apply text-4xl;
}

#prestyle-product h2 {
  @apply text-3xl;
}

#prestyle-product h3 {
  @apply text-2xl;
}

#prestyle-product h4 {
  @apply text-3xl;
}

#prestyle-product h5 {
  @apply text-lg;
}

#prestyle-product h6 {
  @apply text-base;
}
  
@screen md {
  #prestyle-product h1,
  #prestyle-product h2,
  #prestyle-product h3,
  #prestyle-product h4,
  #prestyle-product h5,
  #prestyle-product h6 {
    @apply mt-vw-4 text-left;
    text-align: left !important;
  }

  #prestyle-product h1 {
    @apply text-vw-4xl;
  }
  
  #prestyle-product h2 {
    @apply text-vw-3xl;
  }
  
  #prestyle-product h3 {
    @apply text-vw-2xl;
  }
  
  #prestyle-product h4 {
    @apply text-vw-xl;
  }
  
  #prestyle-product h5 {
    @apply text-vw-lg;
  }
  
  #prestyle-product h6 {
    @apply text-vw-base;
  }
}

#prestyle-product pre {
  @apply whitespace-pre-wrap;
}

#prestyle-product a {
  @apply underline text-info;
}

/* special content box styling for the about page */
#prestyle-product {
  @apply box-content;
}

#prestyle-product-about img {
  @apply block w-full max-w-none pt-10;
}

@screen md {
  #prestyle-product-about img {
    @apply pt-vw-2;
  }

  #prestyle-product-about p:not(:last-of-type) {
    @apply px-vw-15;
  }
}